

<button  type="button" class="btn btn-outline-primary mb-5" [ngStyle]="{'margin-left':'930px'}">Login</button>


<table class="table table-responsive table-bordered table-hover" [ngStyle]="{'text-align':'center', 'width':'1000px', 'margin':'auto'}">
    <thead class="table-dark">
      <tr>
        <th scope="col">Nombre de usuario</th>
        <th scope="col">Cedula</th>
        <th scope="col">Nombre de puntos de venta</th>
        <th scope="col">Ciudad de puntos de ventas</th>
        <th scope="col">porcentaje</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>

 